# OAuth
google_app_id: 'YOUR APP ID'
google_app_secret: 'YOUR APP SECRET'

braintree_merchant_id: 'YOUR BRAINTREE_MERCHANT_ID'
braintree_public_key: 'YOUR BRAINTREE_PUBLIC_KEY'
braintree_private_key: 'YOUR BRAINTREE_PRIVATE_KEY'
